main:has(.room-before) {
    display: flex;
    width: 100%;
    justify-content: center;
}

main:has(.room-before)>div {
    justify-content: center;
    width: 100%;
}

.room-before{
    width: 100%;
}