main:has(.upcoming) {
    display: flex;
    width: 100%;
    justify-content: center;
}

main:has(.upcoming)>div {
    justify-content: center;
    width: 100%;
}

.upcoming{
    width: 100%;
    height: 100%;
}
.dday-wrap{
    display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 1.2rem;
}
.dday-wrap div:nth-child(2){
    /* flex: 1; */
}